{% load static %}
<div style="display: none" id="jsonData" data-json="{{ data }}"></div>
<canvas id="percentileChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
    // This runs once the page is loaded
    function loadJson(selector) {
    return JSON.parse(document.querySelector(selector).getAttribute('data-json'));
    }
    document.addEventListener("DOMContentLoaded", function() {
        var ctx = document.getElementById('percentileChart').getContext('2d');
        var jsonData = loadJson('#jsonData');
        console.log(jsonData);
        var labels = [];
        var data = [];
        for (const [key, value] of Object.entries(jsonData)) {
            if (value != -1) {
                labels.push(key);
                data.push(value);
                console.log(key, value);
            }
        }

        var chart = new Chart(ctx, {
            type: 'bar',  // Type of chart: bar chart
            data: {
                labels: labels,
                datasets: [{
                    label: 'Percentiles',
                    borderWidth: 1,  // Border width
                    data: data,
                }]
            },
            options: {
                scales: {
                    y: {
                        min: 0,
                        max: 100  // Since it's percentiles
                    }
                }
            }
        });
    });
</script>