{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Lens Quiz</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS if needed -->
    <style>
        /* Add your custom CSS styles here */
        .header {
            text-align: center;
            margin-top: 50px;
        }
        .start-button {
            position: absolute;
            top: 20px;
            right: 50px;
        }
        .logo {
            text-align: left;
            margin-right: 20px;
            margin-top: 20px;
        }
        .quiz-info {
            text-align: left;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <!-- Header -->
        <div class="header">
            <h1>Life Lens</h1>
        </div>
        <!-- Quiz Information -->
        <div class="quiz-info">
            <strong>What is the Life Lens Quiz?</strong>
                <br>
                <br>Life Lens is a health questionnaire that focuses on intuitive and interactive visuals to help users identify their overall health and most impactful means to improve it.
               <br> 
                <br>Tests like the Myers Briggs Personality Test and the Rice Purity Test are extremely popular in large part due to their ease of completion and the individualized results that they provide. Maintaining your health is critical in the short and long term, so applying this individualized format to address potential health issues can make health awareness more widespread. Similarly to the aforementioned tests, participants of this test will receive an individualized health report which they can use to analyze their health and see how their results stack up to others.

            </p>
            <!-- Add your form or content here -->
        </div>
    </div>

</body>
</html>

{% endblock %}
