{% extends 'base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>References</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h2>References</h2>
    <ul>
        <li>By, and Michelle Darian. <a href="https://blog.insidetracker.com/sleep-duration-longevity" target="_blank">“The Relationship between Sleep Duration and Longevity.”</a> The InsideGuide, September 15, 2023.</li>

        <li><a href="https://www.blueprintincome.com/tools/life-expectancy-calculator-how-long-will-i-live/info/exercise/#:~:text=Keeping%20in%20mind%20other%20factors,extra%20years%20to%20one’s%20life" target="_blank">“Calculate Your Life Expectancy Based on Academic Research (in 2 Minutes).”</a> Life Expectancy Calculator. Accessed September 17, 2023.</li>

        <li><a href="https://www.medicalnewstoday.com/articles/can-dietary-changes-extend-life-span#:~:text=The%20scientists%20conclude%20that%20a,and%2013%20years%20for%20men" target="_blank">“Changing Your Diet May Help You Live up to 10 Years Longer.”</a> Medical News Today. Accessed September 17, 2023.</li>

        <li>Hagger-Johnson, Gareth, et al. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3906008/" target="_blank">“Reaction Time and Mortality from the Major Causes of Death: The NHANES-III Study.”</a> PloS one, January 29, 2014.</li>

        <li><a href="https://www.sciencedaily.com/releases/2020/03/200311100857.htm#:~:text=Being%20under%20heavy%20stress%20shortens,expectancy%20of%20men%20and%20women" target="_blank">“Heavy Stress and Lifestyle Can Predict How Long We Live.”</a> ScienceDaily, March 11, 2020.</li>

        <li>ITV News. <a href="https://www.itv.com/news/2018-04-13/drinking-more-alcohol-leads-to-lower-life-expectancy-research-finds" target="_blank">“How Many Years Have You Lost from Drinking?”</a> ITV News, April 13, 2018.</li>

        <li><a href="https://www.cdc.gov/nchs/data-visualization/life-expectancy/index.html" target="_blank">“Life Expectancy Data Viz.”</a> Centers for Disease Control and Prevention, March 9, 2020.</li>

        <li>Miller, Jenesse. <a href="https://healthpolicy.usc.edu/article/life-expectancy-declines-for-americans-without-a-four-year-college-degree/" target="_blank">“Life Expectancy Declines for Americans without a Four-Year College Degree.”</a> USC Schaeffer, March 8, 2022.</li>

        <li>Reports, Consumer. <a href="https://www.washingtonpost.com/national/health-science/annual-checkups-generally-dont-lengthen-lives-and-they-do-carry-some-health-risks/2014/06/30/d51ff5d0-61cb-11e3-8beb-3f9a9942850f_story.html" target="_blank">“Annual Checkups Generally Don’t Lengthen Lives, and They Do Carry Some Health Risks.”</a> The Washington Post, April 15, 2023.</li>

        <li>Richards, Libby, et al. <a href="https://fortune.com/2023/01/13/why-are-married-men-healthier-on-average-women-gender-research/" target="_blank">“Married Men Are Healthier than Everyone Else. Here’s Why They Get the Best End of the Deal.”</a> Fortune, January 13, 2023.</li>

        <li>Shaw, Mary, et al. <a href="https://www.bmj.com/content/320/7226/53.1.short" target="_blank">“Time for a Smoke? One Cigarette Reduces Your Life by 11 Minutes.”</a> The BMJ, January 1, 2000.</li>

        <li><a href="https://www.ssa.gov/oact/STATS/table4c6.html" target="_blank">“Social Security.”</a> Actuarial Life Table. Accessed September 17, 2023.</li>

        <li><a href="https://www.nar.realtor/magazine/real-estate-news/study-your-location-affects-your-life-expectancy#:~:text=For%20example%2C%20when%20a%2065,by%201.1%20years%2C%20researchers%20say" target="_blank">“Study: Your Location Affects Your Life Expectancy.”</a> www.nar.realtor, September 29, 2021.</li>

        <li><a href="https://www.cdc.gov/tobacco/data_statistics/fact_sheets/health_effects/tobacco_related_mortality/index.htm#:~:text=Life%20expectancy%20for%20smokers%20is,years%20shorter%20than%20for%20nonsmokers.&text=Quitting%20smoking%20before%20the%20age,related%20disease%20by%20about%2090%25" target="_blank">“Tobacco-Related Mortality.”</a> Centers for Disease Control and Prevention, April 28, 2020.</li>

        <li>Yang, Yang Claire, et al. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4725506/#:~:text=When%20multidimensional%20assessments%20of%20social,inactivity%20(2%2C%203)" target="_blank">“Social Relationships and Physiological Determinants of Longevity across the Human Life Span.”</a> Proceedings of the National Academy of Sciences of the United States of America, January 19, 2016.</li>
    </ul>
</body>
</html>

{% endblock %}