{% extends 'base.html' %}

{% block content %}
<h2>Step 2: Consumption Information</h2>
{% load static %}
<img hidden id="smoker" data-src="{% static 'tester/smoker.jpg' %}">
<img hidden id="cig" data-src="{% static 'tester/cig.png' %}">
<img hidden id="cig_end" data-src="{% static 'tester/cig_end.png' %}">
<img hidden id="burger" data-src="{% static 'tester/burger.png' %}">
<img hidden id="meat" data-src="{% static 'tester/meat.png' %}">
<img hidden id="top_bun" data-src="{% static 'tester/top_bun.png' %}">
<form method="post", class="my-4">
    {% csrf_token %}
    {{ form.non_field_errors }} 
    <div class="form-group">
        {{ form.smoking.errors }}
        <label for="{{ form.smoking.id_for_label }}">Cigarettes per Day:</label>
        <small class="form-text text-muted">How many cigarettes do you smoke daily?</small>
        {{ form.smoking }}
        <canvas id="myCanvas" width="400" height="400"></canvas>
    </div>
    
    <div class="form-group">
        {{ form.diet.errors }}
        <label for="{{ form.diet.id_for_label }}">Fast Food Consumption:</label>
        <small class="form-text text-muted">How many times do you eat fast food per week?</small>
        {{ form.diet }}
        <canvas id="burgerCanvas" width="400" height="400"></canvas>
    </div>
    
    <div class="form-group">
        <label>Cups of Water:</label>
        <small class="form-text text-muted">Drag to indicate how many cups of water you drink daily.</small>
        <div class="glass">
            <div class="water"></div>
        </div>
        <p align="center" id="cups">Cups: </p>
        {{ form.water.as_hidden }}
    </div>
    
    <div class="form-group">
        {{ form.alcohol.errors }}
        <label for="{{ form.alcohol.id_for_label }}">Alcoholic Drinks per Week:</label>
        <small class="form-text text-muted">How many alcoholic drinks do you consume per week?</small>
        {{ form.alcohol }}
    </div>

    <button id="next-button1" type="submit" class="btn btn-primary">Next</button>

</form>
    <style>
.glass {
    width: 200px;
    height: 300px;
    background-color: rgba(200, 200, 200, 0.2);
    border: 3px solid #000;
    position: relative;
    margin: 50px auto;
    clip-path: polygon(10% 0, 90% 0, 80% 100%, 20% 100%);
}

.water {
    background-color: #00f;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    cursor: ns-resize; /* north-south resize cursor */
}
    </style>
    <script type="text/javascript">
    $(document).ready(function() {
        const canvas = document.getElementById('myCanvas');
        const ctx = canvas.getContext('2d');
        const burger_canvas = document.getElementById('burgerCanvas');
        const ctx2 = burger_canvas.getContext('2d');
    var imG1 = document.getElementById('burger');
    imG1.src = imG1.getAttribute('data-src');
    
    var imG2 = document.getElementById('meat');
    imG2.src = imG2.getAttribute('data-src');
    
    var imG3 = document.getElementById('top_bun');
    imG3.src = imG3.getAttribute('data-src');

    function draw_burger(patties=1) {
        reset2();
        ctx2.drawImage(imG1, burger_canvas.width/2, burger_canvas.height-150, imG1.width*.2, imG1.height*.2);
        for (var i=1; i<patties; ++i) {
            ctx2.drawImage(imG2, burger_canvas.width/2, burger_canvas.height-150-50*i, imG2.width*.2, imG2.height*.2);
            ctx2.drawImage(imG3, burger_canvas.width/2+8, burger_canvas.height-138-50*i, imG3.width*.2, imG3.height*.2);
        }
    }
    imG1.onload = function() {
        draw_burger();
    }

    var img = document.getElementById('smoker');
    img.src = img.getAttribute('data-src');
    
    var img2 = document.getElementById('cig');
    img2.src = img2.getAttribute('data-src');
    
    var img3 = document.getElementById('cig_end');
    img3.src = img3.getAttribute('data-src');

    img.onload = function() {
        ctx.drawImage(img, canvas.width/2-30, canvas.height/2-120, img.width/4, img.height/4); // Draws the image at position (0, 0) on the canvas
    };
function reset() {
    ctx.fillStyle = "white";
    ctx.fillRect(0, 0, canvas.width, canvas.height);
}
function reset2() {
    ctx2.fillStyle = "white";
    ctx2.fillRect(0, 0, canvas.width, canvas.height);
}
function draw_cig(length=1) {
    reset();
    ctx.drawImage(img, canvas.width/2-30, canvas.height/2-120, img.width/4, img.height/4); // Draws the image at position (0, 0) on the canvas
    if (length >= 1) {
        ctx.drawImage(img2, 145, 215, img2.width/4, img2.height/4); // Draws the image at position (0, 0) on the canvas
    }
    for (var i=1; i<length; ++i) {
        ctx.drawImage(img3, 195-22*i, 282+10*i, img3.width/4, img3.height/4);
    }
}
// img3.onload = function() {
    // draw_cig(6);
// }

    let isDragging = false;
    let startY;
    let startHeight;
    let cups = document.getElementById('cups');

    cups.innerHTML = `Cups: ${getWaterHeight().toPrecision(2)}`;
    $(".water").on("mousedown", function(e) {
        isDragging = true;
        startY = e.pageY;
        startHeight = $(this).height();
    });

    $(document).on("mousemove", function(e) {
        if (isDragging) {
            let deltaY = startY - e.pageY;
            let newHeight = startHeight + deltaY;
            
            // Ensure the water height doesn't go out of the glass boundaries
            newHeight = Math.min($(".glass").height(), Math.max(1, newHeight));
            cups.innerHTML = `Cups: ${getWaterHeight().toPrecision(2)}`;
            $(".water").height(newHeight);
        }
    }).on("mouseup", function() {
        isDragging = false;
    });

    // To access the water height from JavaScript
    function getWaterHeight() {
        var range = $(".glass").height()
        return $(".water").height()/range*50;
    }

    const next_button = document.getElementById('next-button1');
    const hiddenInput = document.getElementById('id_water');
    
    next_button.addEventListener('click', function() {
        console.log("hell", getWaterHeight());
        hiddenInput.value = getWaterHeight().toPrecision(2);
    });

    const burger_count = document.getElementById('id_diet');
    burger_count.addEventListener('click', function() {
        draw_burger(burger_count.value || 0);
    });

    const smoking_count = document.getElementById('id_smoking');
    smoking_count.addEventListener('click', function() {
        // console.log(smoking_count.value);
        draw_cig(smoking_count.value || 0);
    });

});

    </script>

</form>

{% endblock %}
